<a href="#" class="dropdown-toggle">
  <i class="icon-certificate"></i>
  <span>Administrative Tool</span>
  <b class="arrow icon-angle-down"></b>
</a>
<ul class="submenu">
  <li><%= link_to "Administration", @administration %></li>
</ul>