<a href="#" class="dropdown-toggle">
  <i class="icon-certificate"></i>
  <span>Master Console</span>
  <b class="arrow icon-angle-down"></b>
</a>
<ul class="submenu">
  <li><%= link_to "Administration", @administration %></li>
  <li><%= link_to "Ability Matrices", "/ability_matrices" %></li>
  <!--<li><%#= link_to "Approval Matrices", @approval_mat_path %></li>-->
  <li><%= link_to "Menu Panels", "/left_panels" %></li>
</ul>