<a href="#" class="dropdown-toggle">
  <i class="icon-dashboard"></i>
  <span>Document Management</span>
  <b class="arrow icon-angle-down"></b>
</a>
<ul class="submenu">
  <li><%= link_to "Document Masters", @doc_masters_path %></li>
  <li><%= link_to "Document Template Masters", @doc_template_masters_path %></li>
</ul>