<a href="#" class="dropdown-toggle">
  <i class="icon-dashboard"></i>
  <span>Rule Management</span>
  <b class="arrow icon-angle-down"></b>
</a>
<ul class="submenu">
  <li><%= link_to "Rules", @rules_path %></li>
</ul>