<a href="#" class="dropdown-toggle">
  <i class="icon-copy"></i>
  <span>User Management</span>
  <b class="arrow icon-angle-down"></b>
</a>
<ul class="submenu">
  <li><%= link_to "Employee Masters", @employee_masters_path %></li>
  <li><%= link_to "Candidate Masters", @candidate_masters_path %></li>
  <li><%= link_to "Role", @roles_path %></li>
</ul>