<h1>Listing Vacancy Schedulings</h1>

<div class="row-fluid">
  <div class="offset1 span8">
    <table class="table table-striped table-bordered table-hover">
      <thead>
          <tr>
            <th></th>
            <th></th>
            <th></th>
          </tr>
      </thead>

      <tbody>
          <% @vacancy_schedulings.each do |vacancy_scheduling| %>
              <tr>
                <td><%= link_to 'Show', vacancy_scheduling %></td>
                <td><%= link_to 'Edit', edit_vacancy_scheduling_path(vacancy_scheduling) %></td>
                <td><%= link_to 'Destroy', vacancy_scheduling, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
          <% end %>
      </tbody>
    </table>
  </div>
</div>

<br />

<%= link_to 'New Vacancy scheduling', new_vacancy_scheduling_path %>
