<div class="row-fluid">

  <div class="span4">
    <div class="control-group">
      <label for="Title" class="control-label">Select EmployeeMaster, GroupMaster, Role</label>
      <div class="controls">
        <%= select_tag "approval[0][approvers[#{counter}][oClass]]", options_for_select([["Employee Master", "EmployeeMaster"], ["Group Master", "GroupMaster"], ["Role", "Role"], ["Vendor Master", "VendorMaster"]]), {:include_blank => true, class: 'auto_assign_tos', :onchange=>'display_objects($(this),"approval[0][approvers]['+counter.to_s+']action_arr[]", "approval");'} %>
      </div>
    </div>
  </div>

  <div class="span7">
    <div class="users-list_header table-header">Listing Objects</div>
    <!--<h5 class="not-available-text">No objects available.</h5>-->
    <table class="users-list indexing table table-striped table-bordered table-hover" style="display: none;">
      <thead>
          <tr>
            <th>Select Multiple</th>
            <!--<th>Field 1</th>-->
            <!--<th>Field 2</th>-->
          </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>


</div>

<div class="row-fluid">
  <div class="span6">
    <input type="checkbox" name="approval[<%= counter %>][ro]" value="true" style="opacity: 1">
    <div class="span4"> <label>Add reporting officer as an approver</label></div>
  </div>
</div>
