
//ToDo: Adding approvers list and notifir list in edit page.
if (form_act == "edit"){
    var parent_tab = [];
    $('.tab-content').find('.my_seq').each(function(index,elem){
        parent_tab.push($(elem).parent().parent().parent().parent().parent().parent().attr('id'));
    });

    var $edit_fields, edit_fields_len;
    $edit_fields = $(".tab-content").find('.tab-pane').find(".fields");
    $('.tab-pane').empty().remove();
    $('.nav-tabs#sortable').empty();

    var selected_action, reg_name, split_reg_name;
    var notify_tab, notify_tab_id;
    var approval_tab, approval_tab_id;
    var arr1 =[];

    setTimeout(function(){
        $edit_fields.each(function(index,elem){
            tab_list = '<li>' +
                    '<a data-toggle="tab" href=#step'+(index+1)+'>' + "Step "+(index+1)+ '</a>' +
                    '</li>';
            $('.nav-tabs#sortable').append(tab_list);


            setTimeout(function(){
                if(gon.step_masters[index].action_arr_masters != undefined){
                    display_objects1($("#step"+(index+1)).find(".models-select"),index);
                    gon.step_masters[index].action_arr_masters.each(function(i,v){
                        $($("#step"+(index+1)).find('.user_select_checkbox[value="'+ i.a_obj_id+'"]')[0]).prop("checked", "checked")
                    });
                    $($(".users-list")[index]).show();
                }
            },500);

            setTimeout(function(){
                $('.tab-pane:not(:first)').hide();
                $("#sortable").find('li').on('click', function() {
                    var this_li_child_href = $(this).children().attr('href');
                    var lastChar = this_li_child_href.substr(this_li_child_href.length - 1); // => "1"
                    var intlastChar;
                    intlastChar = parseInt(lastChar);
                    $('.tab-pane').hide();
                    $('.t1').show();
                    $("#step"+intlastChar).show();
                });
            },2000)

            var a="step"+(index+1);
            $('.tab-content').append('<div id='+a+' class="tab-pane in active"><div class="fields">'+$(elem).html()+'</div></div>');
              action_name = $("#"+a).find('.drpdwn').children().first().find('option:selected').text();
              console.log("action_name :- " + action_name);
              if (action_name == "Fill") {
              }
              else if (action_name == "Approve") {
                  add_approval_pm_form($("#"+a).find('.drpdwn').children().first());

                  approval_tab = $("#"+a).attr("id"); //tab-content->tab-pane#step1, step2 etc...
                  approval_tab_id = approval_tab.replace(/[^\d.,]+/,''); // 1, 2 etc...

                  setTimeout(function() {
                      $("#"+a).find(".approval").find($("input:text, textarea")).each(function(i, v){
                          reg_name = $(v).attr("name").match(/[^[]+(?=\])/g); //Extracting field name from each text-box, textarea name
                          split_reg_name = reg_name[1];
                          if (split_reg_name == "reminder") {
                              $(v).val(gon.step_masters_seq[(approval_tab_id-1)]["approval_obj"]["reminder"]);
                          }
                          else if (split_reg_name == "rep_reminder") {
                              $(v).val(gon.step_masters_seq[(approval_tab_id-1)]["approval_obj"]["rep_reminder"]);
                          }
                          else if (split_reg_name == "escalate") {
                              $(v).val(gon.step_masters_seq[(approval_tab_id-1)]["approval_obj"]["escalate"]);
                          }
                          else if (split_reg_name == "auto_assign") {
                              $(v).val(gon.step_masters_seq[(approval_tab_id-1)]["approval_obj"]["auto_assign"]);
                          }
                          setTimeout(function(){
                              $('.approval').find('.tab-pane').show();
                              console.log(gon.step_masters_seq[(approval_tab_id-1)]);
                              console.log($("#"+a).find(".approval").find('.auto_assign_tos'))
                              $("#"+a).find(".approval").find('.auto_assign_tos').val(gon.step_masters_seq[(approval_tab_id-1)]["approval_obj"]["approvers"][0]["oClass"]);
                              display_objects($("#"+a).find(".approval").find('.auto_assign_tos'),"approval[0][approvers][0]action_arr[]","approval");
                              gon.step_masters_seq[(approval_tab_id-1)]["approval_obj"]["approvers"][0]["action_arr"].each(function(i,v){
                                //alert(i["id"]);
                                $($('#appdropdown1').find('.user_select_checkbox[value="'+ i["id"]+'"]')[0]).prop("checked", "checked")
                                if(i["approver"]){
                                    $($('#appdropdown1').find('.user_select_checkbox[value="'+ i["id"]+'"]')[0]).parent().parent().find('.app_ck_bx').prop("checked", "checked")
                                }
                                if(i["escalated"]){
                                    $($('#appdropdown1').find('.user_select_checkbox[value="'+ i["id"]+'"]')[0]).parent().parent().find('.esc_ck_bx').prop("checked", "checked")
                                }
                                if(i["auto_assign"]){
                                    $($('#appdropdown1').find('.user_select_checkbox[value="'+ i["id"]+'"]')[0]).parent().parent().find('.aa_ck_bx').prop("checked", "checked")
                                }
                              });
                          },4000);
                      });
                  },3000);
              }
              else if (action_name == "Notify") {
                  add_notification_pm_form($("#"+a).find('.drpdwn').children().first());
                  notify_tab = $("#"+a).attr("id"); //tab-content->tab-pane#step1, step2 etc...
                  notify_tab_id = notify_tab.replace(/[^\d.,]+/,''); // 1, 2 etc...
                  setTimeout(function() {
                      $("#"+a).find(".notification").find($("input:text, textarea")).each(function(i, v){
                          reg_name = $(v).attr("name").match(/[^[]+(?=\])/g); //Extracting field name from each text-box, textarea name
                          split_reg_name = reg_name[1];
                          if (split_reg_name == "title") {
                              $(v).val(gon.step_masters_seq[(notify_tab_id-1)]["notification_obj"]["title"]);
                          }
                          else if (split_reg_name == "description") {
                              $(v).val(gon.step_masters_seq[(notify_tab_id-1)]["notification_obj"]["description"]);
                          }
                          setTimeout(function(){
                              $('.approval').find('.tab-pane').show();
                              console.log($("#"+a).find('.auto_assign_tos'))
                              $("#"+a).find('.auto_assign_tos').val(gon.step_masters_seq[(notify_tab_id-1)]["notification_obj"]["oClass"]);
                              display_objects($("#"+a).find('.auto_assign_tos'),"notification[0][action_arr][]", "notification");
                              gon.step_masters_seq[(notify_tab_id-1)]["notification_obj"]["action_arr"].each(function(i,v){
                                  $($("#"+a).find('.user_select_checkbox[value="'+ i["id"]+'"]')[0]).prop("checked", "checked")
                              });
                          },4000);

                      });
                  },3000);

              }
              else if (action_name == "SpawnD" || action_name == "SpawnI") {
                  spawn_tab = $("#"+a).attr("id"); //tab-content->tab-pane#step1, step2 etc...
                  spawn_tab_id = spawn_tab.replace(/[^\d.,]+/,''); // 1, 2 etc...
                  arr1.push((parseInt(spawn_tab_id)-1));
                  $("#"+a).find(".spawn-process").show();
                  k = gon.step_masters_seq[(parseInt(spawn_tab_id)-1)]["action_obj"];
                  $("#"+a).find(".spawn-process").find('.my_process_list option[value="' + k + '"]').prop('selected',true);
                  add_spawn_data_edit((parseInt(spawn_tab_id)-1))
                  if(gon.step_masters_seq[(parseInt(spawn_tab_id)-1)]["auto"]){
                      $("#"+a).find(".auto-btn").trigger("click");
                  }
              }
            action_arr_index++;
            count=action_arr_index-1;
        });
    },500)

    $('.tab-pane:not(:first)').hide();
    $('t1').show();
    $("#sortable").find('li').on('click', function() {
        var this_li_child_href = $(this).children().attr('href');
        var lastChar = this_li_child_href.substr(this_li_child_href.length - 1); // => "1"
        var intlastChar;
        intlastChar = parseInt(lastChar);
        $('.tab-pane').hide();
        $('.t1').show();
        $("#step"+intlastChar).show();
    });

}