<tr class="salary_comp_row">
  <td><%= f.text_field :name, {:class => "scomp",:readonly => true} %></td>
  <td style="width:100px;"><%= f.text_field :range_from, {:class => "range",:readonly => true} %>
    to <%= f.text_field :range_to, {:class => "range",:readonly => true} %></td>
  <td><%= f.text_field :score, {:class => "net_val"} %></td>
</tr>
