<div class="row-fluid">
  <div class="span4">
    <% @models.each do |model| %>
            <label class="custom-control-label" style="padding:0 0 0 4%;">
              <%= radio_button_tag 'action_option', model, false, :class => "action_input" %><span class="lbl"><%= model %></span>
            </label>
    <% end %>
  </div>
  <div class="span4" id="mmod">

  </div>
  <div class="span4" id="main-tab">

  </div>
</div>

<script type="text/javascript">
    var selected_field=[];
    var associated_field=[];
    var all_fields=[];
    var class_name='';
    var grp_name=''
    $('.action_input').on('click',function(){
        class_name=this.value;
        $.get('/get_fields/'+this.value,function(data){
            $('#mmod').html('');
            $('#mmod').append('<h1>Columns</h1>');
            $('#mmod').append('<button onclick="select_field()">OK</button>');

            $.each(data.col_name,function(i,v){
                $('#mmod').append('<div class="controls">'+
                        '<input class="children-steps-control" type="checkbox" value='+v+' name="cbl" style="opacity: 1;">'+
                        '<label style="margin-left:20px" control-label">'+v+'</label>'+
                        '</div>');
            });
            $.each(data.association,function(i,v){
                $('#mmod').append('<h1>'+ v.class_name+'</h1>');
                $.each(v.fields,function(i,vi){
                    $('#mmod').append('<div class="controls">'+
                            '<input type="hidden" value="'+ v.class_name+'">'+
                            '<input class="children-steps-control associated" type="checkbox" value='+vi+' name="cbl" style="opacity: 1;">'+
                            '<label style="margin-left:20px" control-label">'+vi+'</label>'+
                            '</div>');
                });
            });
        });
    });

    function select_field(){
        selected_field=[];
        associated_field=[];
        all_fields=[];
        $("input:checkbox[name=cbl]:checked").each(function(){
            all_fields.push(this.value)
            if($(this).hasClass("associated")){
                associated_field.push({classname: $(this).prev().val(), myfield: this.value})
            }else{
                selected_field.push(this.value);
            }
        });
        show_fields();
    }

    function show_fields(){
        a='';
        b='';
        all_fields.each(function(i,v){
            a=a+'<option value='+i+'>'+i+'</option>';
            b=b+'<th>'+i+'</th>';
        });
        $('#main-tab').append('<lable>Group by: </lable><select id="grp_dec">'+a+'</select>');
        $('#main-tab').append('<button onclick="load_fields()">OK</button>')
        $('#main-tab').append('<table><tbody id="dis_tab"><tr>'+b+'</tr></tbody></table>');
    }

    function load_fields(){
        grp_name=$('#grp_dec').val();
        alert(grp_name)
        var data = {field: [],association: [], classname: [], group_by: []}
        data["classname"].push(class_name);
        data["group_by"].push(grp_name);
        data["field"].push(selected_field);
        data["association"].push(associated_field);
        $.ajax({
            type: "POST",
            url: "/get_data",
            data: JSON.stringify(data),
            contentType: "application/json; charset=utf-8",
            //dataType: "json",
            success: function(result){
                alert(result.d);
                console.log(result);
//                var j=0;
//                $.each(result,function(i,v){
//
//                    var a= $('#dis_tab').append('<tr id='+ (v.cname+j)+'></tr>');
//                    $('#'+v.cname+j).append('<td>'+ v.cvalue+'</td>')
//                    j++;
//                });
            }
        });
    }
</script>