<h1>Listing process_masters</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @process_masters.each do |process_master| %>
  <tr>
    <td><%= link_to 'Show', process_master %></td>
    <td><%= link_to 'Edit', edit_process_master_path(process_master) %></td>
    <td><%= link_to 'Destroy', process_master, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Process master', new_process_master_path %>
